# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port                  = 3306
socket                = /var/run/mysqld/mysqld.sock
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_character_set_client
#character_set_client      = utf8

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqld]
################################################################################
# * Basic Settings
################################################################################
#
# * IMPORTANT
#   If you make changes to these settings and your system uses apparmor, you may
#   also need to also adjust /etc/apparmor.d/usr.sbin.mysqld.
#

user            = mysql
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
#basedir         = /usr
#datadir         = /mnt/data/mysql/5.1/data
#tmpdir          = /mnt/data/mysql/5.1/tmp
skip-external-locking

#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address            = 0.0.0.0

default-storage-engine  = INNODB

# http://dev.mysql.com/doc/refman/5.1/en/server-options.html#option_mysqld_transaction-isolation
transaction-isolation   = READ-COMMITTED
# transaction-isolation   = {{.MYSQL_TRANSACTION_ISOLATION.V}} READ-COMMITTED

################################################################################
# * Encoding
################################################################################

character-set-server      = latin1
collation-server          = latin1_general_cs

################################################################################
# * Connections Configuration
################################################################################
max_connections       = 16384
max_user_connections  = 0

#
# * Fine Tuning
#
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_read_buffer_size
read_buffer_size      = 1M
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_read_rnd_buffer_size
read_rnd_buffer_size  = 64M
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_sort_buffer_size
sort_buffer_size      = 256K

# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_table_open_cache
table_open_cache      = 512
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_thread_cache_size
thread_cache_size     = 32

# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_tmp_table_size
# tmp_table_size

################################################################################
# * Query Cache Configuration
################################################################################

# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_query_cache_type
query_cache_type        = 1
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_query_cache_limit
query_cache_limit       = 128M
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_query_cache_size
query_cache_size        = 256M
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_query_cache_min_res_unit
query_cache_min_res_unit= 4K

################################################################################
# * Fine Tuning
################################################################################

# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_key_buffer_size
key_buffer_size         = 8M
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_join_buffer_size
join_buffer_size        = 8M
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_max_allowed_packet
max_allowed_packet      = 16M

# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_tmp_table_size
table_open_cache        = 512
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_max_tmp_tables
max_tmp_tables          = 48

################################################################################
# * InnoDB
################################################################################

# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html#sysvar_innodb_file_per_table
innodb_file_per_table           = 1
# Set buffer pool size to 50-80% of your computer's memory,
# but make sure on Linux x86 total memory usage is < 2GB
# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html#sysvar_innodb_buffer_pool_size
innodb_buffer_pool_size         = 16G
# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html#sysvar_innodb_thread_concurrency
innodb_thread_concurrency       = 8
# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html#sysvar_innodb_flush_method
innodb_flush_method             = O_DIRECT
# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html#sysvar_innodb_flush_log_at_trx_commit
innodb_flush_log_at_trx_commit  = 1
#
innodb_lock_wait_timeout        = 90
innodb_rollback_on_timeout      = 1

innodb_buffer_pool_instances = 8

# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html#sysvar_innodb_additional_mem_pool_size
innodb_additional_mem_pool_size = 20M
# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html#sysvar_innodb_doublewrite
innodb_doublewrite              = 1


# Set the log file size to about 25% of the buffer pool size
# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html#sysvar_innodb_log_file_size
innodb_log_file_size            = 1G
# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html#sysvar_innodb_log_buffer_size
innodb_log_buffer_size          = 64M
# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html#sysvar_innodb_data_file_path
innodb_data_file_path           = ibdata1:10M:autoextend

################################################################################
# * MyISAM
################################################################################

# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover        = BACKUP
# http://dev.mysql.com/doc/refman/5.1/en/server-system-variables.html#sysvar_bulk_insert_buffer_size
bulk_insert_buffer_size = 32M

################################################################################
# * Logging and Replication and Debuging
################################################################################

# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
general_log_file        = /var/log/mysql/mysql.log
general_log             = 1
log_error                = /var/log/mysql/error.log

# http://dev.mysql.com/doc/refman/5.1/en/server-options.html#option_mysqld_slow-query-log
slow_query_log                = 0
long_query_time               = 10
# http://dev.mysql.com/doc/refman/5.1/en/server-options.html#option_mysqld_log-queries-not-using-indexes
log_queries_not_using_indexes = 0

# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
#server-id              = 1

#log_bin                        = /var/log/mysql/mysql-bin.log
expire_logs_days        = 10
max_binlog_size         = 100M
#binlog_do_db           = include_database_name
#binlog_ignore_db       = include_database_name

################################################################################
# * Security Features
################################################################################
#
# Read the manual, too, if you want chroot!
# chroot = /mnt/data/mysql/5.1/data
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer              = 16M

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
#!includedir /etc/mysql/conf.d/
